@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.attribution { font-size: 11px; text-align: center; margin-top: 10px;}
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outflit', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    padding: 15px;
}

img {
    border-radius: 12px;
}

.heading {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    letter-spacing: 0.3px;
    margin-block-end: 0;
}

.text {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}